<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<p id="notice"><%= notice %></p>
<body>
  <div class="container">
    <%= render "shared/main_header" %>
    <h1>Listing Movies</h1>

    <table class="highlight bordered">
      <thead>
        <tr>
          <th><%= sortable 'title' %></th>
          <th><%= sortable 'genre' %></th>
          <th><%= sortable 'year' %></th>
          <th>Quality</th>
          <th><%= sortable 'mpaa' %></th>
          <th>Runtime (Minuets)</th>
          <th colspan="3"></th>
        </tr>
      </thead>


      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= movie.title %></td>
            <td><%= movie.genre.join(', ') %></td>
            <td><%= movie.year %></td>
            <td><%= movie.quality %></td>
            <td><%= movie.mpaa %></td>
            <td><%= link_to 'info_outline', movie, class: "material-icons" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
      <%= render "shared/footer" %>
  </div>
</body>
