<p id="notice"><%= notice %></p>
<%= render "shared/main_header" %>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @movie.quality %>
</p>

<p>
  <strong>IMDB Link: </strong>
  <%= link_to "#{@movie.title} on IMDB", "http://imdb.com/title/#{@movie.imdb_id}" %>
</p>
<p>
  plot summary:
</p>
<p>
  Poster Image here at some point
</p>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
