<head>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<p id="notice"><%= notice %></p>
<div class="container">
<%= render "shared/main_header" %>
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle purple">movie</i>
      <span class="title"><strong><%= link_to "#{@movie.title}", "http://imdb.com/title/#{@movie.imdb_id}" %> </strong>(<%= @movie.year %> - <%= @movie.quality %>)</span>
      <p>
        <br>
        <strong>Direcror:</strong> <%= @movie.director.nil? ? "None Listed" : @movie.director.join(" & ") %>
        <br>
         <strong>Genre(s):</strong> <%= @movie.genre.empty? ? "None Listed" : @movie.genre.join(" & ") %>
         <br>
         <br>
         <strong>Plot:</strong><% get_plot %> <%= @plot %>
      </p>
    </li>
  </ul>
  <div class="row">
    <div class="col s18">
      <div class="col s1">
        <%= link_to 'arrow_back', movies_path, class: "material-icons center", style: "font-size: 32px; line-height: normal" %>
    </div>
    <div class="col s1 offset-s2">
      <%= link_to 'mode_edit', edit_movie_path(@movie), class: "material-icons center", style: "font-size: 32px; line-height: normal" %>
    </div>
  </div>
</div>
</div>
